.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .updateButton {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    .backButton {
        width: 310px;
        display: flex;
        justify-content: flex-end;        
    }
}